body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

#canvas {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #000;
    border: 1px solid #fff;
}

.pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #00ffcc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
